 # ignore ALL .log files
*.csv
__pycache__
venv
# ignore ALL .env file
*.env
# ignore all .session file
+2348118637072.session
+2348118637072.session-journal
# ignore ALL files in ANY directory named temp
temp/ 
